h1 {
    color: black;
    display: flex;
    justify-content: center;
}

body {
    background-color:#871282;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header {
    background-color: aliceblue;
}

.navbar {
    justify-content: center;
    display: flex;
    gap: 10px
}

#index_h1 {
    font-family: "Montserrat", sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

