h1 {
    color: black;
    display: flex;
    justify-content: center;
}

body {
    background-color:#871282;
}

header {
    background-color: aliceblue;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 10px;

}

#index_h1 {
    font-family: "Montserrat", sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}